In [1]:
"""
날짜 : 2023/01/09
이름 : 홍민준
내용 : 파이썬 딕셔너리 실습하기
"""

'\n날짜 : 2023/01/09\n이름 : 홍민준\n내용 : 파이썬 딕셔너리 실습하기\n'

In [2]:
# Dictionary
dataset = {'A':'Apple', 'B':'Banana', 'C':'Chreyy', }

print('dataSet :', type(dataset))
print('dataSet :', dataset)
print("dataSet['A'] :", dataset['A'])
print("dataSet['B'] :", dataset['B'])
print("dataSet['C'] :", dataset['C'])

dataSet : <class 'dict'>
dataSet : {'A': 'Apple', 'B': 'Banana', 'C': 'Chreyy'}
dataSet['A'] : Apple
dataSet['B'] : Banana
dataSet['C'] : Chreyy

In [7]:
# 딕셔너리 활용

dataset = {
    101:[1,2,3,4,5],
    102:(6,7,8,9),
    103:{'서울','대전','대구','부산','광주'},
    104:{'p1':'김유신', 'p2':'김춘추', 'p3':'장보고',}
}

print('dataset :', dataset[101][2])
print('dataset :', dataset[102][1])
print('dataset :', list(dataset[103])[3])
print('dataset :', dataset[104]['p1'])

dataset : 3
dataset : 7
dataset : 대구
dataset : 김유신

In [8]:
# 딕셔너리 반복문
dataset = {1:'서울', 2:'대전', 3:'부산', 4:'대구', 5:'광주'}

for k, v in dataset.items():
    print(k, v)

1 서울
2 대전
3 부산
4 대구
5 광주